Repository MassimoC/api-sdlc-with-apicenter: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/petstore.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

Path conditions:
  .azuredevops/pipelines/1passwordapi.yml: any of: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/templates/*.yml, design/1passwordapi, but not: **/*.md
  .azuredevops/pipelines/bgt.yml: any of: .azuredevops/pipelines/bgt.yml, design/bgt, but not: **/*.md
  .azuredevops/pipelines/petstore.yml: any of: .azuredevops/pipelines/petstore.yml, design/petstore, but not: **/*.md
  .azuredevops/pipelines/rocketapi.yml: any of: design/rocketapi, but not: **/*.md
  .azuredevops/pipelines/salesapi.yml: any of: design/salesapi, but not: **/*.md

small updates
  .azuredevops/pipelines/petstore.yml
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/jobs.API-validate.yml
  .azuredevops/templates/stages.module.yml
  design/petstore/3.20.280.json
  design/petstore/3.21.178.json
  design/petstore/3.22.100.json
  settings.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/petstore.yml

280
  design/petstore/3.20.171.json
  design/petstore/3.20.225.json
Due: .azuredevops/pipelines/petstore.yml

cmp
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml

21.178
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

22.100
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

tags
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

280
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

22.10
  design/petstore/3.21.178_breaking.json
  design/petstore/3.22.100_sunset.json
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

22.100
  design/petstore/openapi_petstore_qs.json
Due: .azuredevops/pipelines/petstore.yml

20.280
  .azuredevops/templates/jobs.API-publish.yml
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/petstore.yml

20.225
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

20.100
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

20.280
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

20.280
  design/petstore/3.20.280.json
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

ops
  design/petstore/3.20.280_ops.json
Due: .azuredevops/pipelines/petstore.yml

20.280 ...
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

...
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

280 nis.
  README.md
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

debug
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml

225
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

canary
  .azuredevops/pipelines/petstore.yml
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/petstore.yml

canary
  .azuredevops/pipelines/petstore.yml
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/petstore.yml

AA.BBB
  design/petstore/3.21.199_sunset.json
Due: .azuredevops/pipelines/petstore.yml

21.199
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

21.199
  design/petstore/3.21.199_sunset.json
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

21.178
  design/petstore/3.21.178_breaking.json
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

178
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

199
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml
