Repository MassimoC/api-sdlc-with-apicenter: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

.azuredevops/pipelines/1passwordapi.yml:
  name: $(Date:yyyyMMdd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: 1password-api

.azuredevops/pipelines/bgt.yml:
  name: $(Date:yyyyMMdd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: bgt-api
      apiTitle: BGT API
      apiDescription: BGT integration

.azuredevops/pipelines/rocketapi.yml:
  name: $(Date:yyyy)-$(Date:MM)-$(Date:dd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: rocket-api

.azuredevops/pipelines/salesapi.yml:
  name: $(Date:yyyyMMdd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: sales-api

URI
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

URI
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

az rest
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

az rest - body
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

az rest - body
  .azuredevops/templates/jobs.API-validate.yml
  rules/lint-result.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

az rest - body
  .azuredevops/templates/jobs.API-publish.yml
  rules/lint-result.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

adding operationid
  .azuredevops/templates/jobs.API-publish.yml
  rules/lint-result.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

adding operationid
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

json init
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

json operation_id
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

json operation_id
  .azuredevops/templates/jobs.API-publish.yml
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

escaping json
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

escaping json
  .azuredevops/templates/jobs.API-validate.yml
  rules/lint-result.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

split
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

base
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

argjson
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

move to temp file
  .azuredevops/templates/jobs.API-validate.yml
  settings.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

petstore
  .azuredevops/pipelines/petstore.yml
  design/1passwordapi/openapi_1passwordapi.json
  design/1passwordapi/openapi_2passwordapi.json
  design/weather/openapi_weather.json
  rules/spectral-mycompany.oas.yaml
Due: .azuredevops/pipelines/1passwordapi.yml

version
  design/1passwordapi/openapi_1passwordapi.json
  design/bgt/openapi_bgt.json
  design/petstore/openapi_petstore.json
  design/rocketapi/openapi_rocketapi.json
  design/weather/openapi_weather.json
  rules/oas.yaml
  rules/spectral-L0.oas.yaml
  rules/spectral-L1.oas.yaml
  rules/spectral-L2.oas.yaml
  rules/spectral-mycompany.oas.yaml
  settings.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/rocketapi.yml

version
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

version
  rules/spectral-L1.oas.yaml
Due: none

version
  .azuredevops/pipelines/1passwordapi.yml
  .azuredevops/pipelines/bgt.yml
  .azuredevops/pipelines/petstore.yml
  .azuredevops/pipelines/rocketapi.yml
  .azuredevops/pipelines/salesapi.yml
  rules/spectral-L1.oas.yaml
  rules/spectral-L2.oas.yaml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

version
  design/petstore/openapi_petstore.json
  design/rocketapi/openapi_rocketapi.yaml
  rules/spectral-L0.oas.yaml
  rules/spectral-L1.oas.yaml
  rules/spectral-L2.oas.yaml
Due: .azuredevops/pipelines/rocketapi.yml

version
  design/petstore/openapi_petstore.json
Due: none

la added
  logicapps/post-to-channel.json
Due: none

incremental
  design/petstore/openapi_petstore.json
  logicapps/post-to-channel.json
Due: none

incremental
  design/petstore/openapi_petstore.json
Due: none

incremental
  logicapps/assign-reviewer.json
  logicapps/post-to-channel.json
Due: none

Path conditions:
  .azuredevops/pipelines/1passwordapi.yml: any of: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/templates/*.yml, design/1passwordapi, but not: **/*.md
  .azuredevops/pipelines/bgt.yml: any of: .azuredevops/pipelines/bgt.yml, design/bgt, but not: **/*.md
  .azuredevops/pipelines/rocketapi.yml: any of: .azuredevops/pipelines/rocketapi.yml, .azuredevops/templates/*.yml, design/rocketapi, but not: **/*.md
  .azuredevops/pipelines/salesapi.yml: any of: .azuredevops/pipelines/salesapi.yml, .azuredevops/templates/*.yml, design/salesapi, but not: **/*.md
