Repository MassimoC/api-sdlc-with-apicenter: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

.azuredevops/pipelines/1passwordapi.yml:
  name: $(Date:yyyyMMdd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: 1password-api

.azuredevops/pipelines/bgt.yml:
  name: $(Date:yyyyMMdd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: bgt-api
      apiTitle: BGT API
      apiDescription: BGT integration

.azuredevops/pipelines/rocketapi.yml:
  name: $(Date:yyyy)-$(Date:MM)-$(Date:dd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: rocket-api

.azuredevops/pipelines/salesapi.yml:
  name: $(Date:yyyyMMdd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: sales-api

incremental
  .azuredevops/templates/jobs.API-validate.yml
  README.md
  design/rocketapi/openapi_rocketapi.json
  logicapps/post-to-channel.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

incremental
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

test Rs
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

test c
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

test link
  .azuredevops/pipelines/petstore.yml
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/stages.module.yml
  settings.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

test link
  README.md
Due: none

test link
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

test link-e
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

demo
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

url
  .azuredevops/pipelines/1passwordapi.yml
  .azuredevops/pipelines/bgt.yml
  .azuredevops/pipelines/rocketapi.yml
  .azuredevops/pipelines/salesapi.yml
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

url
  .azuredevops/pipelines/1passwordapi.yml
  .azuredevops/pipelines/bgt.yml
  .azuredevops/pipelines/petstore.yml
  .azuredevops/pipelines/rocketapi.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/rocketapi.yml

trigger
  .azuredevops/pipelines/1passwordapi.yml
  .azuredevops/pipelines/bgt.yml
  .azuredevops/pipelines/petstore.yml
  .azuredevops/pipelines/rocketapi.yml
  .azuredevops/pipelines/salesapi.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

trigger
  .azuredevops/templates/jobs.API-mock.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

update unsupported command
  .azuredevops/templates/jobs.API-deploy.yml
  README.md
  design/conferenceapi/openapi_conferenceapi.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

update unsupported command
  .azuredevops/templates/jobs.API-deploy.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

update commands
  .azuredevops/templates/jobs.API-deploy.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

change L1 rules
  rules/spectral-L1.oas.yaml
Due: none

change L1 rules
  design/petstore/openapi_petstore.json
Due: none

v
  design/petstore/openapi_petstore.json
Due: none

adding notebook
  setup/apicenter.ipynb
Due: none

from -s to -n
  .azuredevops/templates/jobs.API-publish.yml
  setup/apicenter.bicep
  setup/apicenter.ipynb
  setup/params.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

compliancy
  .azuredevops/templates/jobs.API-publish.yml
  logicapps/post-to-channel.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

compliancy
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

semver
  .azuredevops/templates/jobs.API-publish.yml
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

semver
  rules/spectral-L1.oas.yaml
Due: none

semver
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

semver
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

semver
  .azuredevops/pipelines/1passwordapi.yml
  .azuredevops/pipelines/bgt.yml
  .azuredevops/pipelines/petstore.yml
  .azuredevops/pipelines/rocketapi.yml
  .azuredevops/pipelines/salesapi.yml
  design/conferenceapi/openapi_conferenceapi.json
  design/rocketapi/openapi_rocketapi.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

semver
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/stages.module.yml
  design/conferenceapi/openapi_conferenceapi.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

stageDependencies
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

-n ga
  .azuredevops/templates/jobs.API-deploy.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

semver
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

semver
  .azuredevops/templates/jobs.API-deploy.yml
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

semver
  .azuredevops/templates/jobs.API-deploy.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

Path conditions:
  .azuredevops/pipelines/1passwordapi.yml: any of: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/templates/*.yml, design/1passwordapi, but not: **/*.md
  .azuredevops/pipelines/bgt.yml: any of: .azuredevops/pipelines/bgt.yml, design/bgt, but not: **/*.md
  .azuredevops/pipelines/rocketapi.yml: any of: .azuredevops/pipelines/rocketapi.yml, .azuredevops/templates/*.yml, design/rocketapi, but not: **/*.md
  .azuredevops/pipelines/salesapi.yml: any of: .azuredevops/pipelines/salesapi.yml, .azuredevops/templates/*.yml, design/salesapi, but not: **/*.md
