Repository MassimoC/api-sdlc-with-apicenter: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/petstore.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

Path conditions:
  .azuredevops/pipelines/1passwordapi.yml: any of: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/templates/*.yml, design/1passwordapi, but not: **/*.md
  .azuredevops/pipelines/bgt.yml: any of: .azuredevops/pipelines/bgt.yml, design/bgt, but not: **/*.md
  .azuredevops/pipelines/petstore.yml: any of: .azuredevops/pipelines/petstore.yml, design/petstore, but not: **/*.md
  .azuredevops/pipelines/rocketapi.yml: any of: design/rocketapi, but not: **/*.md
  .azuredevops/pipelines/salesapi.yml: any of: design/salesapi, but not: **/*.md

3.22.100
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml

3.22.100
  .azuredevops/pipelines/petstore.yml
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/petstore.yml

3.22.100
  .azuredevops/templates/jobs.API-publish.yml
  settings.yml
Due: .azuredevops/pipelines/1passwordapi.yml

3.22.100
  settings.yml
Due: none

3.22.100
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/jobs.API-validate.yml
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml

3.22.100
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml

3.22.100
  .azuredevops/templates/jobs.API-publish.yml
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml

Update jobs.API-publish.yml
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml

Update jobs.API-publish.yml or
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml
