Repository MassimoC/api-sdlc-with-apicenter: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/bgt.yml, .azuredevops/pipelines/petstore.yml, .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

Path conditions:
  .azuredevops/pipelines/1passwordapi.yml: any of: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/templates/*.yml, design/1passwordapi, but not: **/*.md
  .azuredevops/pipelines/bgt.yml: any of: .azuredevops/pipelines/bgt.yml, design/bgt, but not: **/*.md
  .azuredevops/pipelines/petstore.yml: any of: .azuredevops/pipelines/petstore.yml, design/petstore, but not: **/*.md
  .azuredevops/pipelines/rocketapi.yml: any of: design/rocketapi, but not: **/*.md
  .azuredevops/pipelines/salesapi.yml: any of: design/salesapi, but not: **/*.md

semver
  .azuredevops/templates/jobs.API-deploy.yml
Due: .azuredevops/pipelines/1passwordapi.yml

semver
  .azuredevops/templates/jobs.API-deploy.yml
  .azuredevops/templates/jobs.API-publish.yml
  design/petstore/openapi_petstore_qs.json
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/petstore.yml

.225
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

card
  logicapps/post-to-channel.json
Due: none

design 280
  .api-center-rules/apic-nda/functions/greeting.js
  .api-center-rules/apic-nda/ruleset-116588.yml
  .api-center-rules/apic-nda/ruleset-5711.yml
  .api-center-rules/apic-nda/ruleset.yml
  .api-center-rules/apic-nda/tryout.md
  design/petstore/openapi_petstore.json
  design/petstore/openapi_petstore_qs.json
Due: .azuredevops/pipelines/petstore.yml

pwd 1.6.1
  .azuredevops/templates/jobs.API-deploy.yml
  design/1passwordapi/openapi_1passwordapi.json
Due: .azuredevops/pipelines/1passwordapi.yml

test
  .azuredevops/templates/jobs.API-validate.yml
  .azuredevops/templates/stages.module.yml
Due: .azuredevops/pipelines/1passwordapi.yml

test
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml

test
  .azuredevops/pipelines/petstore.yml
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

test
  .azuredevops/pipelines/petstore.yml
Due: .azuredevops/pipelines/petstore.yml

test
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

test
  design/petstore/3.20.280.json
  design/petstore/3.21.078.json
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

test
  design/petstore/3.21.078.json
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

test
  design/petstore/3.21.178.json
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

test
  design/petstore/3.22.100.json
Due: .azuredevops/pipelines/petstore.yml

3.22.100
  design/petstore/3.22.100.json
  design/petstore/openapi_petstore.json
Due: .azuredevops/pipelines/petstore.yml

3.22.100
  .azuredevops/templates/jobs.API-validate.yml
Due: .azuredevops/pipelines/1passwordapi.yml

3.22.100
  .azuredevops/pipelines/petstore.yml
  .azuredevops/templates/jobs.API-publish.yml
  settings.yml
Due: .azuredevops/pipelines/1passwordapi.yml, .azuredevops/pipelines/petstore.yml

3.22.100
  .azuredevops/templates/jobs.API-publish.yml
Due: .azuredevops/pipelines/1passwordapi.yml
