Repository MassimoC/api-sdlc-with-apicenter: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

.azuredevops/pipelines/rocketapi.yml:
  name: $(Date:yyyy)-$(Date:MM)-$(Date:dd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: rocket-api

.azuredevops/pipelines/salesapi.yml:
  name: $(Date:yyyyMMdd)-$(Rev:rr)
  stages:
  - template: /.azuredevops/templates/stages.module.yml
    parameters:
      staticValidation: ${{ parameters.staticValidation }}
      publishDesign: ${{ parameters.publishDesign }}
      apiName: sales-api

sales
  .azuredevops/pipelines/salesapi.yml
  design/salesapi/openapi_salesapi.json
Due: .azuredevops/pipelines/salesapi.yml

1password
  .azuredevops/pipelines/1passwordapi.yml
  design/1passwordapi/openapi_1passwordapi.json
Due: none

Update settings.yml
  settings.yml
Due: none

Update jobs.deploy_Api.yml
  .azuredevops/templates/jobs.deploy_Api.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

1password - oas
  design/1passwordapi/openapi_1passwordapi.json
Due: none

1password - transactionid
  design/1passwordapi/openapi_1passwordapi.json
Due: none

three
  .azuredevops/pipelines/1passwordapi.yml
  .azuredevops/pipelines/rocketapi.yml
  .azuredevops/pipelines/salesapi.yml
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

three apis
  .azuredevops/templates/stages.module.yml
  design/salesapi/openapi_salesapi.json
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

3 apis
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

schema updated
  design/rocketapi/openapi_rocketapi.json
Due: .azuredevops/pipelines/rocketapi.yml

JQ changes
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

review
  .azuredevops/pipelines/rocketapi.yml
  .azuredevops/pipelines/salesapi.yml
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

review
  .azuredevops/pipelines/1passwordapi.yml
Due: none

pazz
  design/1passwordapi/openapi_1passwordapi.json
Due: none

Update jobs.publish_ApiDesign.yml
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

JQ
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

JQ r only
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

Debug
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

rc
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

RC and LT
  design/1passwordapi/openapi_1passwordapi.json
Due: none

Rs
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

Quote
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

RC
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

brackets
  design/1passwordapi/openapi_1passwordapi.json
Due: none

format
  design/1passwordapi/openapi_1passwordapi.json
Due: none

jq C
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

jq C
  .azuredevops/templates/jobs.publish_ApiDesign.yml
  design/1passwordapi/openapi_1passwordapi.json
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

bash
  .azuredevops/templates/jobs.publish_ApiDesign.yml
  design/1passwordapi/openapi_1passwordapi.json
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

filename
  .azuredevops/templates/jobs.publish_ApiDesign.yml
  design/1passwordapi/openapi_1passwordapi.json
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

spec
  .azuredevops/templates/jobs.publish_ApiDesign.yml
  design/1passwordapi/openapi_1passwordapi.json
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

link
  .azuredevops/templates/jobs.publish_ApiDesign.yml
  design/1passwordapi/openapi_1passwordapi.json
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

pazz
  .azuredevops/templates/jobs.publish_ApiDesign.yml
  design/1passwordapi/openapi_1passwordapi.json
  design/1passwordapi/openapi_2passwordapi.json
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

apim
  design/1passwordapi/openapi_2passwordapi.json
Due: none

BGT
  .azuredevops/pipelines/bgt.yml
  design/bgt/openapi_bgt.json
Due: none

BGT
  design/bgt/openapi_bgt.json
Due: none

logging
  .azuredevops/templates/jobs.deploy_Api.yml
  .azuredevops/templates/jobs.publish_ApiDesign.yml
Due: .azuredevops/pipelines/rocketapi.yml, .azuredevops/pipelines/salesapi.yml

Path conditions:
  .azuredevops/pipelines/rocketapi.yml: any of: .azuredevops/pipelines/rocketapi.yml, .azuredevops/templates/*.yml, design/rocketapi, but not: **/*.md
  .azuredevops/pipelines/salesapi.yml: any of: .azuredevops/pipelines/salesapi.yml, .azuredevops/templates/*.yml, design/salesapi, but not: **/*.md
